html {
    background-color: lightgray;
}

body {
    color: black;
    font-family: sans-serif;
}

h1 {
    font-size: 45px;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
        text-align: center;
}

.list {
    display: inline-block;
    text-align: left;
}

.bio {
    width: 300px;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: row;
}

.item {
   display: flex;
    width: 400px;
    align-items: center;
    flex-direction: column;
}



.bio {
    text-align: center;
    width: 400;  
    margin: auto;  
} */

/* 
Hover Effects */

  .item img {
    transition: all ease;
  }
  
  .item:hover img {
    transform: scale(1.05);
    transition: all ease;
    box-shadow: 0 0 5px rgb(136, 219, 140);
  }